h1 {
  color: #ff6701;

  font-family: poppins;
  font-weight: 700;
}

h2 {
  background-color: white;
  color: #4f8a8b;
  font-family: poppins;
  text-align: center;
}

h3{
    color:#FFAB76;
}

h4 {
  font-family: Roboto Mono, monospace;
  color: #4f8a8b;
  font-size: 12px;
}

h5 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#D9534F;
    text-align: center;
    font-size: 15px;

}

p {
  font-family: Roboto Mono, monospace;
  color: #4f8a8b;
  font-weight: 500;
}
.aboutQ h3{
    font-size: 20px;
}
.aboutQ h1{
    font-size: 40px;
}

.hi{
    text-align: center;
}

.btn{
    color:#4f8a8b;
    font-family: poppins;
    font-size: 10px;
}
.hero {
  background-color: #fcecdd;
}
.toppart {
  padding: 50px;
}

.projects {
  background-color: #fcecdd;
  padding: 50px;
  color: #ff6701;
  text-align: center;
}

.connect {
  background-color: #fcecdd;
  text-align: center;
}

@media (max-width: 900px) {
  .introduction {
    text-align: center;
    padding: 0;
  }
  .hi {
    width: auto;
  }
}
