h1 {
  color: #ff6701;

  font-family: poppins;
  font-weight: 700;
}

h2 {
  background-color: white;
  color: #4f8a8b;
  font-family: poppins;
  text-align: center;
}

h3{
    color:#4f8a8b
}

h4 {
  font-family: Roboto Mono, monospace;
  color: #4f8a8b;
  font-size: 10px;
}

p {
  font-family: Roboto Mono, monospace;
  color: #4f8a8b;
  font-weight: 500;
}

.hero {
  background-color: #fcecdd;
}
.toppart {
  padding: 50px;
}

.projects {
  background-color: #fcecdd;
  padding: 50px;
  color: #ff6701;
}

.connect {
  background-color: #fcecdd;
  text-align: center;
}

@media (max-width: 900px) {
  .introduction {
    text-align: center;
    padding: 0;
  }
  .hi {
    width: auto;
  }
}
